.App {
  text-align: center;
}

nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  height: 25px;
  line-height: 25px;
  width:50%;
}

.link{
  flex-basis: calc((100%/3) - 4px);
  text-align: center;
  border: 2px solid black;
  background: navy;
  color: white;
  text-decoration: none;
  box-shadow: inset 0px 0px 5px rgb(70, 70, 253);
}

.logout{
  position: fixed;
  right: 5px;
  top: 5px;
  background: navy;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  box-shadow: inset 0px 0px 5px rgb(70, 70, 253);
  width: 70px;
  text-align: center;
}

.activeLink{
  background-color:rgb(0, 0, 192);
}

.siteTitle{
  color: white;
  font-size: 35px;
  margin-left: 10px;
}
